
/* General styles */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Grid container */
  .grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
  }

  
/* Header styles */
.header {
    background-color: #181717;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
  }
 
  .dark-light-toggle:hover {
    background-color: #666;
  }
  
  /* Navigation styles */
  .header nav {
    display: flex;
    gap: 1rem; 
    align-items: center;
  }
  
  .header nav a, .header button {
    margin: 0;
    padding: 0.5rem 1rem;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 10px;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .header nav a:hover, .header button:hover {
    background-color: var(--clr-accent-1);
  }

  .header nav a {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Space between the icon and text */
}

.header nav a svg, 
.header nav a img {
    width: 20px; /* Adjust icon size */
    height: 20px;
    fill: currentColor; /* Ensures icon inherits text color */
}

.header nav a:hover svg, 
.header nav a:hover img {
    fill: var(--clr-accent-1); /* Change color on hover */

}

  /* Main content styles */
/* Main Section Styles */
.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 7rem); /* Full viewport height */
    text-align: center;
    background: var(--background);
    color: var(--foreground);
    padding: 0 2rem; /* Padding for smaller screens */

  }

  /* Heading Styles */
  h1 {
    margin: 0.5rem 0;
  }
  
  h2 {

    margin: 0.5rem 0;
    color: var(--foreground);
  }
  
  p {
    color: var(--foreground);
    max-width: 600px;
    line-height: 1.5;
    margin-bottom: 2rem;
  }
  
  /* Buttons */
  .cta-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .cta-buttons button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .download-btn {
    background-color: var(--foreground);
    color: var(--background);
    font-weight: bold;
  }
  
  .contact-btn {
    background-color: transparent;
    border: 1px solid white;
    color: var(--foreground);
  }
  
  .download-btn:hover {
    background-color: var(--clr-accent-1);
    box-shadow: 0 0 20px 4px rgba(8, 100, 180, 0.8),
    0 0 40px 8px rgba(8, 100, 180, 0.5),
    0 0 60px 12px rgba(8, 100, 180, 0.3);
  }
  
  .contact-btn:hover {
    background-color: var(--clr-accent-1);
    color: var(--foreground);

    box-shadow: 0 0 20px 4px rgba(8, 100, 180, 0.8),
    0 0 40px 8px rgba(8, 100, 180, 0.5),
    0 0 60px 12px rgba(8, 100, 180, 0.3);
  }

    /*My tech stack section*/
.technologies-section {
  text-align: center;
  margin-top: 0.5rem; 
  padding: 2rem;
  background-color: var(--background);
  color: var(--foreground);
}
  
  .technologies-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem; 
    padding: 2rem; 
  }
  
  .tech-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex; 
    align-items: center; 
    gap: 1rem; 
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.tech-card > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
  .tech-card img {
    width: 50px; 
    height: 50px;
  }
  
  .tech-card h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
  }
  
  .tech-card p {
    margin: 0;
    font-size: 0.875rem;
    color: #ccc;
  }
  
  .tech-card:hover {
    transform: translateY(-5px);

  }
  #HTML-card:hover{
    box-shadow: 0 0 20px 4px rgba(243, 100, 44, 0.8),
    0 0 40px 8px rgba(243, 100, 44, 0.5),
    0 0 60px 12px rgba(243, 100, 44, 0.3);
  }

  #CSS-card:hover{
    box-shadow: 0 0 20px 4px rgba(43, 100, 243, 0.8),
    0 0 40px 8px rgba(43, 100, 243, 0.5),
    0 0 60px 12px rgba(43, 100, 243, 0.3);
  }

  #JS-card:hover{
    box-shadow: 0 0 20px 4px rgba(243, 219, 27, 0.8),
    0 0 40px 8px rgba(243, 219, 27, 0.5),
    0 0 60px 12px rgba(243, 219, 27, 0.3);
  }

  #C-sharp-card:hover{
    box-shadow: 0 0 20px 4px rgba(148, 60, 171, 0.8),
    0 0 40px 8px rgba(148, 60, 171, 0.5),
    0 0 60px 12px rgba(148, 60, 171, 0.3);
  }

  #SQL-card:hover{
    box-shadow: 0 0 20px 4px rgba(8, 100, 180, 0.8),
    0 0 40px 8px rgba(8, 100, 180, 0.5),
    0 0 60px 12px rgba(8, 100, 180, 0.3);
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .main-section, .technologies-section {
    margin: 0; 
  }

/* My Education Section */
.my-education {
  padding: 2rem;
  margin-left: 20%; 
  margin-right: 20%;
  margin-top: 4rem;
}

.my-education h2{
  text-align: center;
}

.education-sections {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 1.5rem; 
  position: relative;
  max-width: 900px; 
  margin: 0 auto; 
}

.education-sections .section:nth-child(1) {
  grid-column: 1; 
  grid-row: 1;
  max-width: 400px; 
}

.education-sections .section:nth-child(2) {
  grid-column: 2; 
  grid-row: 2;
  align-self: start; 
  margin-top: auto; 
  max-width: 400px; 
}

  /* Footer styles */
  .footer {
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
  }
  
  .footer a {
    color: var(--foreground);
    text-decoration: none;
  }
  
  .footer a:hover {
    color: var(--clr-accent-1);
  }
  


