
:root {
    --clr-light: #d9d9d9; 
    --clr-dark: black;
    --clr-1: #f0feff;
    --clr-2: #f0fdff;
    --clr-3: #e0faff;
    --clr-4: #b8f2ff;
    --clr-5: #88dbf2;
    --clr-6: #5bc4e6;
  
    --clr-accent-1: #439cbf;
    --clr-accent-2: #2e7799;
    --clr-accent-3: #1d5573;
    --clr-accent-4: #12364d;

    --foreground: var(--clr-dark);
    --background: var(--clr-light);

    --Exp-tab: rgba(0, 0, 0, 0.9) ;
    --Exp-tab-text: white;
    --Exp-tab-text-active: black;
    --Exp-card: rgba(0, 0, 0, 0.9) ;
    --Exp-img: rgba(0, 0, 0, 0) ;
    --Exp-before: rgba(0, 0, 0, 0.473);
    --Exp-icon: var(--clr-dark);
    --Exp-date: rgba(255, 255, 255, 0.6);
    --Exp-title: rgba(255, 255, 255, 0.8);
    --Exp-sub: rgba(255, 255, 255, 0.8);
    --Exp-descrip: rgba(255, 255, 255, 0.6);

    --Contact-section: rgba(0, 0, 0, 0.801);
    --Contact-tab-text: white;
    --Contact-input: rgba(0, 0, 0, 0.432);
    --Contact-input-focus: rgba(7, 98, 136, 0.5);

    
  --athens-gray-50: #f6f8f9;
  --athens-gray-100: #f0f2f4;
  --athens-gray-200: #d6dce1;
  --athens-gray-300: #b2bec7;
  --athens-gray-400: #889ba8;
  --athens-gray-500: #6a7e8d;
  --athens-gray-600: #546775;
  --athens-gray-700: #45535f;
  --athens-gray-800: #3c4750;
  --athens-gray-900: #353d45;
  --athens-gray-950: #23292e;
  
  
}

.darkmode {
    --clr-light: #d9d9d9; 
    --clr-dark: black;
    --clr-1: #182328;
    --clr-2: #20363f;
    --clr-3: #294953;
    --clr-4: #346373;
    --clr-5: #42869d;
    --clr-6: #50aac7;
  
    --clr-accent-1: #7cc7dc;
    --clr-accent-2: #b0e7f3;
    --clr-accent-3: #daf3f8;
    --clr-accent-4: #ecf8fa;

    --foreground: var(--clr-light);
    --background: var(--clr-dark);

    --Exp-tab: rgba(255, 255, 255, 0.1);
    --Exp-tab-text: white;
    --Exp-tab-text-active: black;
    --Exp-card: rgba(255, 255, 255, 0.05);
    --Exp-img: rgba(0, 0, 0, 0) ;
    --Exp-before: rgba(255, 255, 255, 0.2);
    --Exp-icon: var(--clr-dark);
    --Exp-date: rgba(255, 255, 255, 0.6);
    --Exp-title: rgba(255, 255, 255, 0.8);
    --Exp-sub: rgba(255, 255, 255, 0.8);
    --Exp-descrip: rgba(255, 255, 255, 0.6);

    --Contact-section: rgba(255, 255, 255, 0.05);
    --Contact-tab-text: white;
    --Contact-input: rgba(255, 255, 255, 0.1);
    --Contact-input-focus: rgba(52, 152, 219, 0.2);

}

body {
  color: var(--foreground);
}

/* Apply transitions for smooth theme switching */
body, .header, .footer, .main-section {
    transition: background-color 0.5s ease-in-out, color 1s ease-in-out;
}

/* General Scrollbar */
::-webkit-scrollbar {
  width: 13px;
}

html {
  scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    #3498db 0%,
    #2980b9 50%,
    #3498db 100%
);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



