@import url('https://fonts.googleapis.com/css?family=Barlow%20Semi%20Condensed:700|Barlow%20Semi%20Condensed:400');

body {
  font-family: 'Barlow Semi Condensed';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Barlow Semi Condensed';
  font-weight: 700;
}