  /* Footer styles */
  .footer {
    background-color: var(--background);
    color: var(--foreground);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    text-align: center;
  }
  
  .footer a {
    color: var(--foreground);
    text-decoration: none;
  }
  
  .footer a:hover {
    color: var(--clr-accent-1);
  }