/*Common css file*/
:root {
  --waikawa-gray-50: #f2f7fb;
  --waikawa-gray-100: #e7f0f8;
  --waikawa-gray-200: #d3e2f2;
  --waikawa-gray-300: #b9cfe8;
  --waikawa-gray-400: #9cb6dd;
  --waikawa-gray-500: #839dd1;
  --waikawa-gray-600: #6a7fc1;
  --waikawa-gray-700: #6374ae;
  --waikawa-gray-800: #4a5989;
  --waikawa-gray-900: #414e6e;
  --waikawa-gray-950: #262c40;

  --athens-gray-50: #f6f8f9;
  --athens-gray-100: #f0f2f4;
  --athens-gray-200: #d6dce1;
  --athens-gray-300: #b2bec7;
  --athens-gray-400: #889ba8;
  --athens-gray-500: #6a7e8d;
  --athens-gray-600: #546775;
  --athens-gray-700: #45535f;
  --athens-gray-800: #3c4750;
  --athens-gray-900: #353d45;
  --athens-gray-950: #23292e;
}

.page-container {
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  max-width: 1024px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.page-mt {
  margin-top: 6em;
}

#content {
  min-height: 100%;
  padding-bottom: 180px;
}

h1 {
  font-size: 2.3em;
  font-weight: 900;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--waikawa-gray-500);
  font-size: smaller;
  font-weight: 500;
  display: block;
}

a:hover {
  color: var(--waikawa-gray-400);
}

button,
input,
select {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--athens-gray-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--athens-gray-200);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--athens-gray-200);
}

/*Course*/

/*-----------------BLACK BAR---------------------------------------------*/
#bar {
  background-color: black;
  position: relative;
  border-radius: 25px;
  margin-top: 3%;
}

#searchbar {
  padding: 0.7%;
  margin: 1% 0% 1% 2%;

  width: 15%;

  border: 1px solid grey;
  border-radius: 25px 0 0 25px;
  float: left;

  background: #f1f1f1;
}

#searchbarBtn {
  position: relative;
  padding: 0.7%;
  margin: 1%;
  margin-left: 0%;

  width: 3%;
  float: left;

  background: var(--waikawa-gray-500);
  color: white;

  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  border-radius: 0 25px 25px 0;
  cursor: pointer;
}

#filter {
  padding: 0.7%;
  margin: 1%;
  position: relative;
  left: 48%;
  width: 13%;

  border: 1px solid grey;
  border-radius: 25px;
}

#sort {
  padding: 0.7%;
  margin: 1%;
  position: relative;
  left: 49%;
  width: 11%;

  border: 1px solid grey;
  border-radius: 25px;
}
/*----------------------------------------------------------------------*/

.course-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  row-gap: 1.3em;
  margin-bottom: 8em;
}

#course1img {
  height: 10%;
  width: 95%;
  margin-bottom: 5%;
  position: relative;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
}

#course1img img {
  border-radius: 15px;
}

.course {
  padding: 1em;
  cursor: pointer;
  /* min-height: 100%; */
  /* transition: transform 1s ease-in-out;*/
}

.coursecont {
  padding: 5%;
  background-color: var(--athens-gray-100);
  border: 2px solid var(--athens-gray-200);
  min-height: 100%;
  border-radius: 25px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 1s ease-in-out;
  position: relative;
  display: inline-block;
}

.coursecont::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.coursecont:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
.coursecont:hover::after {
  opacity: 1;
}

.tooltip {
  position: relative;
  display: block;
  color: var(--athens-gray-700);
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1rem;
}

/*----------------------PILLS---------------------------------------*/
.pill {
  font-size: 12px;
  font-weight: 600;
  color: var(--athens-gray-900);
  border: 1px solid var(--athens-gray-400);
  border-radius: 10px;
  width: auto;
  float: left;
  position: relative;
  margin: 0% 1% 5% 0;
  padding: 0.3em;
  display: inline;
  min-width: 2em;
}

.CourseType {
  background-color: var(--athens-gray-300);
}

.Duration {
  background-color: var(--athens-gray-300);
}

.NQFlevel {
  background-color: var(--athens-gray-300);
}

h3 {
  margin: 0;
}
