/*My tech stack section*/
.technologies-section {
    text-align: center;
    margin-top: 0.5rem;
    padding: 2rem;
    background-color: var(--background);
    color: var(--foreground);
    margin-bottom: 10rem;
}

.technologies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.tech-card {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.tech-card > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tech-card img {
    width: 50px;
    height: 50px;
}

.tech-card h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #fff;
}

.tech-card p {
    margin: 0;
    font-size: 0.875rem;
    color: #ccc;
}

.tech-card:hover {
    transform: translateY(-5px);
}

#HTML-card:hover {
    box-shadow: 0 0 20px 4px rgba(243, 100, 44, 0.8),
        0 0 40px 8px rgba(243, 100, 44, 0.5),
        0 0 60px 12px rgba(243, 100, 44, 0.3);
}

#CSS-card:hover {
    box-shadow: 0 0 20px 4px rgba(43, 100, 243, 0.8),
        0 0 40px 8px rgba(43, 100, 243, 0.5),
        0 0 60px 12px rgba(43, 100, 243, 0.3);
}

#JS-card:hover {
    box-shadow: 0 0 20px 4px rgba(243, 219, 27, 0.8),
        0 0 40px 8px rgba(243, 219, 27, 0.5),
        0 0 60px 12px rgba(243, 219, 27, 0.3);
}

#C-sharp-card:hover {
    box-shadow: 0 0 20px 4px rgba(148, 60, 171, 0.8),
        0 0 40px 8px rgba(148, 60, 171, 0.5),
        0 0 60px 12px rgba(148, 60, 171, 0.3);
}

#SQL-card:hover {
    box-shadow: 0 0 20px 4px rgba(8, 100, 180, 0.8),
        0 0 40px 8px rgba(8, 100, 180, 0.5),
        0 0 60px 12px rgba(8, 100, 180, 0.3);
}