

  .timeline-container {
    max-width: full;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: 400;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .tab {
    background: var(--Exp-tab);
    border: none;
    color: var( --Exp-tab-text);
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: background 0.3s;
  }

  .tab.active {
    background-color: var(--clr-accent-1);
    color: var(--Exp-tab-text-active);
    box-shadow: 0 0 20px 4px rgba(8, 100, 180, 0.5),
        0 0 40px 8px rgba(8, 100, 180, 0.5),
        0 0 60px 12px rgba(8, 100, 180, 0.3);
  }

  .timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }

  .timeline::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: var(--Exp-before);
  }

  .timeline-item {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }



  .timeline-content {
    background: var(--Exp-card);
    padding: 1.5rem;
    border-radius: 0.5rem;
    flex: 1;
  }

  .timeline-date {
    font-size: 0.9rem;
    color: var(--Exp-date);
    margin-bottom: 0.5rem;
  }

  .timeline-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: var(--Exp-title);
  }

  .timeline-subtitle {
    color: var(--Exp-sub);
    margin-bottom: 0.5rem;
  }

  .timeline-description {
    color: var(--Exp-descrip);
    font-size: 0.9rem;
  }